# Ignore system files and directories
AppData/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Python-specific files
__pycache__/
*.pyc
*.env